
<b><h2>Contact</h2></b>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum magnam nesciunt ipsum perspiciatis, id error enim recusandae culpa. Ea?
</p>


<div class="container">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b> Email address</b></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"><b>Your Message</b></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
  </div>
</div>


<br>

<p>Copyright ©. Your website 2014</p>