<!-- your html code here -->
<div class="container">
    <div class="header">
        <h3>This First Heading <span style="color:grey">Will Catch Your Eye</span></h3>
    </div>
    <div class="body d-flex">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed sint in impedit corporis? Libero saepe voluptas, eum laborum deleniti nam exercitationem, inventore adipisci similique, maxime iure consequatur repudiandae beatae id.</p>
        <img src="/website/assets/img/1.jpg" class="rounded-circle w-25" alt="...">
    </div>

</div>