<!-- your html code here -->
<div class ="container">
    <div class ="header">
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur illo ex nobis velit est eius, rem nam ab expedita eaque tempore placeat dicta, veniam voluptatum necessitatibus a natus voluptates consequuntur.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="https://picsum.photos/id/237/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title"><h5 class="card-title"><span style="color:rgb(50, 139, 212)">Project Name</span></h5></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://picsum.photos/id/238/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title"><span style="color:rgb(50, 139, 212)">Project Name</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://picsum.photos/id/239/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><h5 class="card-title"><span style="color:rgb(50, 139, 212)">Project Name</span></h5></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>